<div class="container__right-menu">
    <div class="right-menu__item">
        <img width="60px" src="https://cdn-icons-png.freepik.com/512/5173/5173443.png?ga=GA1.1.1162054163.1727022953" alt="" srcset=""> <span class="right-menu__item__desc">Color</span>        
    </div>
    <div class="right-menu__item">
        <img width="60px" src="https://cdn-icons-png.freepik.com/512/5173/5173393.png?ga=GA1.1.1162054163.1727022953" alt="" srcset=""> <span class="right-menu__item__desc">Weight</span>
    </div>
    <div class="right-menu__item">
        <img width="60px" src="https://cdn-icons-png.freepik.com/512/5173/5173348.png?ga=GA1.1.1162054163.1727022953" alt="" srcset=""> <span class="right-menu__item__desc">Dimension</span>
    </div>
</div>